article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
ul li {
  list-style-type: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea,
figure {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.full-center {
  width: 100%;
  text-align: center;
  float: center;
}
.hideOveride {
  display: none!important;
}
.hide {
  display: none;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-top-40 {
  padding-top: 40px;
}
.pad-bottom-10 {
  padding-bottom: 10px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-bottom-30 {
  padding-bottom: 30px;
}
.pad-bottom-40 {
  padding-bottom: 40px;
}
/* ==========================================================================
   Grading Header
   ========================================================================== */
/*
 * Desktop
 */
#grading-wizard {
  width: 180px;
  height: 30px;
  position: relative;
  margin: 0 auto;
}
#grading-header-region {
  margin-bottom: 5px;
}
#grading-header h1 {
  margin-top: 4px;
}
.grading-region h2.job-title {
  cursor: pointer;
  color: #00bfee;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  height: 33px;
  line-height: 30px;
}
.grading-region h2.job-title i {
  font-size: 15px;
  color: #646464;
  position: absolute;
  top: 8px;
  right: -22px;
}
.grading-region h2.job-title:hover {
  border-bottom: 1px dashed;
}
/* =============================================================================
   Grading Circles
   ========================================================================== */
.grade-container {
  position: relative;
}
.grade-container .job-grade {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.grade-container .job-grade h1.grade {
  color: #f78600;
  width: 150px;
  margin: 55px 0 0 0;
}
.grade-container .job-grade h2 {
  color: #999;
  font-size: 12px;
  margin: -3px 0 0 0;
}
.grade-container .job-grade h1.numeric {
  font-size: 55px;
}
.grade-container .job-grade h1.numeric-large {
  font-size: 38px;
}
.grade-container .job-grade h1.alpha {
  font-size: 42px;
}
.grade-container .job-grade h1.alpha-large {
  font-size: 22px;
}
.grade-container .chartwell-pies {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.grade-container.small h1 {
  position: absolute;
  z-index: 2;
  text-align: center;
  font-size: 25px;
  height: 100px;
  min-height: 100px;
  line-height: 87px;
  width: 100%;
  color: #fcb133;
}
.grade-container.small h1.grade {
  width: 100%;
}
.grade-container.small h1.apply-grade {
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  margin: 35px 0 0 0;
  color: #00bfee;
  cursor: pointer;
}
.grade-container.small h1.numeric {
  font-size: 34px;
}
.grade-container.small h1.numeric-large {
  font-size: 28px;
}
.grade-container.small .chartwell-pies {
  width: 100%;
  height: 100px;
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.grade-container.small .chartwell-pies .cw-graph {
  line-height: 100px;
  font-size: 100px;
  width: 100%;
  height: 100px;
  text-align: center;
}
.grade-container.medium {
  width: 112px;
  height: 112px;
}
.grade-container.medium h1.grade {
  width: 112px;
}
.grade-container.medium h1.numeric {
  font-size: 36px;
}
.grade-container.medium h1.numeric-large {
  font-size: 29px;
}
.grade-container.medium h1.alpha {
  font-size: 29px;
}
.grade-container.medium h1.alpha-large {
  font-size: 21px;
}
.grade-container.medium .chartwell-pies {
  height: 112px;
  min-height: 112px;
}
.grade-container.medium .chartwell-pies .cw-graph {
  line-height: 112px;
  height: 112px;
  font-size: 112px;
}
.grade-container.large {
  width: 150px;
  height: 150px;
}
.grade-container.large .chartwell-pies {
  height: 150px;
  min-height: 150px;
}
.grade-container.large .chartwell-pies .cw-graph {
  line-height: 150px;
  height: 150px;
  font-size: 150px;
}
.grade-container.small:after {
  display: block;
  position: absolute;
  content: '';
  width: 76px;
  height: 76px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.grade-container.large:after {
  display: block;
  content: '';
  width: 112px;
  height: 112px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.035);
  -webkit-border-radius: 72px;
  -moz-border-radius: 72px;
  border-radius: 72px;
  margin: 20px 0 0 19px;
}
/* This fixes the offset circle for my people chartwell pie graph + number btwnviewport widths */
@media (min-width: 767px) and (max-width: 979px) {
  .profile-sub-container.grade-container h1,
  .profile-sub-container.grade-container .chartwell-pies {
    margin-left: 12px;
  }
}
/* ==============================
Chartwell
================================*/
.chartwell-pies {
  font-size: 150px;
  height: 150px;
  width: 150px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.chartwell-pies .cw-graph {
  font-size: 150px;
  height: 150px;
  line-height: 150px;
  width: 150px;
}
.chartwell-pies.large {
  font-size: 300px;
  height: 300px;
  width: 300px;
}
.chartwell-pies.large .cw-graph {
  font-size: 300px;
  height: 300px;
  line-height: 300px;
  width: 300px;
}
.chartwell-pies.pie .cw-value-slice6 {
  color: #bad7cb;
}
.chartwell-pies.pie .cw-value-slice5 {
  color: #99cdc1;
}
.chartwell-pies.pie .cw-value-slice4 {
  color: #75c5c3;
}
.chartwell-pies.pie .cw-value-slice3 {
  color: #4eacc1;
}
.chartwell-pies.pie .cw-value-slice2 {
  color: #3381b0;
}
.chartwell-pies.pie .cw-value-slice1 {
  color: #235395;
}
.chartwell-pies .cw-pies-counter {
  color: #fff;
}
.chartwell-pies.ring span {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.chartwell-pies.ring.inactive .cw-value-slice20 {
  color: #a7a7a7;
}
.chartwell-pies.ring.inactive .cw-value-slice19 {
  color: #ababab;
}
.chartwell-pies.ring.inactive .cw-value-slice18 {
  color: #aeaeae;
}
.chartwell-pies.ring.inactive .cw-value-slice17 {
  color: #b2b2b2;
}
.chartwell-pies.ring.inactive .cw-value-slice16 {
  color: #b6b6b6;
}
.chartwell-pies.ring.inactive .cw-value-slice15 {
  color: #b9b9b9;
}
.chartwell-pies.ring.inactive .cw-value-slice14 {
  color: #bdbdbd;
}
.chartwell-pies.ring.inactive .cw-value-slice13 {
  color: #c0c0c0;
}
.chartwell-pies.ring.inactive .cw-value-slice12 {
  color: #c4c4c4;
}
.chartwell-pies.ring.inactive .cw-value-slice11 {
  color: #c7c7c7;
}
.chartwell-pies.ring.inactive .cw-value-slice10 {
  color: #cbcbcb;
}
.chartwell-pies.ring.inactive .cw-value-slice9 {
  color: #cfcfcf;
}
.chartwell-pies.ring.inactive .cw-value-slice8 {
  color: #d2d2d2;
}
.chartwell-pies.ring.inactive .cw-value-slice7 {
  color: #d6d6d6;
}
.chartwell-pies.ring.inactive .cw-value-slice6 {
  color: #d9d9d9;
}
.chartwell-pies.ring.inactive .cw-value-slice5 {
  color: #dddddd;
}
.chartwell-pies.ring.inactive .cw-value-slice4 {
  color: #e0e0e0;
}
.chartwell-pies.ring.inactive .cw-value-slice3 {
  color: #e4e4e4;
}
.chartwell-pies.ring.inactive .cw-value-slice2 {
  color: #e8e8e8;
}
.chartwell-pies.ring.inactive .cw-value-slice1 {
  color: #ebebeb;
}
.chartwell-pies.ring.active .cw-value-slice20 {
  color: #d35a5e;
}
.chartwell-pies.ring.active .cw-value-slice19 {
  color: #d3705a;
}
.chartwell-pies.ring.active .cw-value-slice18 {
  color: #d3895a;
}
.chartwell-pies.ring.active .cw-value-slice17 {
  color: #d3a25a;
}
.chartwell-pies.ring.active .cw-value-slice16 {
  color: #d3bb5a;
}
.chartwell-pies.ring.active .cw-value-slice15 {
  color: #d1d35a;
}
.chartwell-pies.ring.active .cw-value-slice14 {
  color: #b8d35a;
}
.chartwell-pies.ring.active .cw-value-slice13 {
  color: #9fd35a;
}
.chartwell-pies.ring.active .cw-value-slice12 {
  color: #86d35a;
}
.chartwell-pies.ring.active .cw-value-slice11 {
  color: #6dd35a;
}
.chartwell-pies.ring.active .cw-value-slice10 {
  color: #5ad361;
}
.chartwell-pies.ring.active .cw-value-slice9 {
  color: #5ad37a;
}
.chartwell-pies.ring.active .cw-value-slice8 {
  color: #5ad393;
}
.chartwell-pies.ring.active .cw-value-slice7 {
  color: #5ad3ac;
}
.chartwell-pies.ring.active .cw-value-slice6 {
  color: #5ad3c5;
}
.chartwell-pies.ring.active .cw-value-slice5 {
  color: #5ac7d3;
}
.chartwell-pies.ring.active .cw-value-slice4 {
  color: #5aaed3;
}
.chartwell-pies.ring.active .cw-value-slice3 {
  color: #5a95d3;
}
.chartwell-pies.ring.active .cw-value-slice2 {
  color: #5a7cd3;
}
.chartwell-pies.ring.active .cw-value-slice1 {
  color: #5a63d3;
}
.salary-chart-labels .label-6 .swatch {
  background-color: #bad7cb;
}
.salary-chart-labels .label-5 .swatch {
  background-color: #99cdc1;
}
.salary-chart-labels .label-4 .swatch {
  background-color: #75c5c3;
}
.salary-chart-labels .label-3 .swatch {
  background-color: #4eacc1;
}
.salary-chart-labels .label-2 .swatch {
  background-color: #3381b0;
}
.salary-chart-labels .label-1 .swatch {
  background-color: #235395;
}
.grade-scale-19 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-18 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-18 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #f0f0f0;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #f0f0f0;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-slice5 {
  color: #f3f3f3;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #f0f0f0;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice5 {
  color: #f3f3f3;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-slice4 {
  color: #f5f5f5;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #f0f0f0;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice5 {
  color: #f3f3f3;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice4 {
  color: #f5f5f5;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-slice3 {
  color: #f8f8f8;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #cdcdcd;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #cfcfcf;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #d2d2d2;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #d4d4d4;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #d7d7d7;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #d9d9d9;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #dcdcdc;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #dedede;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #e1e1e1;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #e3e3e3;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #e6e6e6;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #e9e9e9;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #ebebeb;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #eeeeee;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #f0f0f0;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice5 {
  color: #f3f3f3;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice4 {
  color: #f5f5f5;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice3 {
  color: #f8f8f8;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-slice2 {
  color: #fafafa;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice20 {
  color: #a7a7a7;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice19 {
  color: #ababab;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice18 {
  color: #aeaeae;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice17 {
  color: #b2b2b2;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice16 {
  color: #b6b6b6;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice15 {
  color: #b9b9b9;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice14 {
  color: #bdbdbd;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice13 {
  color: #c0c0c0;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice12 {
  color: #c4c4c4;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice11 {
  color: #c7c7c7;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice10 {
  color: #cbcbcb;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice9 {
  color: #cfcfcf;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice8 {
  color: #d2d2d2;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice7 {
  color: #d6d6d6;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice6 {
  color: #d9d9d9;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice5 {
  color: #dddddd;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice4 {
  color: #e0e0e0;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice3 {
  color: #e4e4e4;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice2 {
  color: #e8e8e8;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-slice1 {
  color: #ebebeb;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-five {
  color: #5ac7d3;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-four {
  color: #5aaed3;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-three {
  color: #5a95d3;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-two {
  color: #5a7cd3;
}
.grade-scale-0 .chartwell-pies.ring.active .cw-value-one {
  color: #5a63d3;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-five {
  color: #5ac7d3;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-four {
  color: #5aaed3;
}
.grade-scale-1 .chartwell-pies.ring.active .cwvalue-three {
  color: #5a95d3;
}
.grade-scale-1 .chartwell-pies.ring.active .cw-value-two {
  color: #5a7cd3;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-five {
  color: #5ac7d3;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-four {
  color: #5aaed3;
}
.grade-scale-2 .chartwell-pies.ring.active .cw-value-three {
  color: #5a95d3;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-five {
  color: #5ac7d3;
}
.grade-scale-3 .chartwell-pies.ring.active .cw-value-four {
  color: #5aaed3;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-4 .chartwell-pies.ring.active .cw-value-five {
  color: #5ac7d3;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-5 .chartwell-pies.ring.active .cw-value-six {
  color: #5ad3c5;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-6 .chartwell-pies.ring.active .cw-value-seven {
  color: #5ad3ac;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-7 .chartwell-pies.ring.active .cw-value-eight {
  color: #5ad393;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-8 .chartwell-pies.ring.active .cw-value-nine {
  color: #5ad37a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-9 .chartwell-pies.ring.active .cw-value-ten {
  color: #5ad361;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-10 .chartwell-pies.ring.active .cw-value-eleven {
  color: #6dd35a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-11 .chartwell-pies.ring.active .cw-value-twelve {
  color: #86d35a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-12 .chartwell-pies.ring.active .cw-value-thirteen {
  color: #9fd35a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-13 .chartwell-pies.ring.active .cw-value-fourteen {
  color: #b8d35a;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-14 .chartwell-pies.ring.active .cw-value-fifteen {
  color: #d1d35a;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-15 .chartwell-pies.ring.active .cw-value-sixteen {
  color: #d3bb5a;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-16 .chartwell-pies.ring.active .cw-value-seventeen {
  color: #d3a25a;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-17 .chartwell-pies.ring.active .cw-value-eighteen {
  color: #d3895a;
}
.grade-scale-18 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
.grade-scale-18 .chartwell-pies.ring.active .cw-value-nineteen {
  color: #d3705a;
}
.grade-scale-19 .chartwell-pies.ring.active .cw-value-twenty {
  color: #d35a5e;
}
