/* Font Declarations Begins */
@font-face {
    font-family: ProximaNova;
    src: url(/fonts/33C8E4_2_0.woff2);
}
/* Font Declarations Ends */

/* Top Menu Navbar CSS Begins */
.navbar-container {
    width: 100%;
    height: 60px;
}

.navbar-top-menu {
    background-color: white;
}

.navbar-top-menu .navbar-brand img {
    margin-top: -10px;
    width: 150px;
    height: 40px;
}
/* Top Menu navbar CSS Ends */

/* Top Well CSS Begins */
.well-top {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #007DA4;
    margin-bottom: 0;
    float: left;
    position: relative;
}

.well-top-breadcrumbs {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: darkgray;
    width: 90%;
    float: left;
}

.well-top-search {
    width: auto;
    float: right;
}

.well-top-avatar {
    width: 150px;
    float: left;
    margin: 20px;
}

.well-top-title-block {
    width: auto;
    float: left;
    margin: 20px;
}

.well-top-tab-entry {
    font-size: 10px;
    font-weight: normal;
    margin-right: 30px;
}

.well-top-tab-entry a {
    text-decoration: none;
    color: white;
    padding: 10px;

}

.well-top-tab-entry a:hover {
    background-color: white;
    color: #1199B9;
}

.well-top-whocreated, .well-top-whomodified {
    font-size: 9px;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin-right: 50px;
}

.well-top-dropmenu-container {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.well-top-dd {
    float: left;
}

.well-top-dd-stat {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
/* Top Well CSS Ends */

/* Stats Row CSS Begins */
.spdj-statrow {
    width: 100%;
    min-height:480px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
}

.spdj-statrow .statrow-header {
    width: 100%;
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
}

.spdj-statrow .statrow-col-container {
    position: relative;
    padding-top: 20px;
}

.spdj-statrow .statrow-col {
    min-height: 380px;
    width: 30%; 
    padding: 20px;
    background-color: #ffffff;
    border: solid 1px lightgray; 
    border-radius: 5px;
    box-shadow: 1px 2px 5px #888888;
}

.spdj-statrow .statrow-col:nth-child(1) {
    border-top: solid 7px #008a95;
}

.spdj-statrow .statrow-col:nth-child(2) {
    border-top: solid 7px #731f61;
}

.spdj-statrow .statrow-col:nth-child(3) {
    border-top: solid 7px #578f3f;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    /* Adjust the three stats columns for Job Characteristics, Values & Culture and Organization policy Begins */
    .spdj-statrow .statrow-col:nth-child(1) {
        position: absolute;
        left: 2%;
    }

    .spdj-statrow .statrow-col:nth-child(2) {
        position: absolute;
        left: 34.5%;
    }

    .spdj-statrow .statrow-col:nth-child(3) {
        position: absolute;
        left: 67.5%;
    }
    /* Adjust the three stats columns for Job Characteristics, Values & Culture and Organization policy Ends */
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .spdj-statrow {
        min-height: 480px;
    }

    .spdj-statrow .statrow-col {
        min-height: 390px;
    }

    /* Adjust the three stats columns for Job Characteristics, Values & Culture and Organization policy Begins */
    .spdj-statrow .statrow-col:nth-child(1) {
        position: absolute;
        left: 2.5%;
    }

    .spdj-statrow .statrow-col:nth-child(2) {
        position: absolute;
        left: 35%;
    }

    .spdj-statrow .statrow-col:nth-child(3) {
        position: absolute;
        left: 67.5%;
    }
    /* Adjust the three stats columns for Job Characteristics, Values & Culture and Organization policy Ends */
}

/* Portrait tablets and small desktops */
@media (min-width: 480px) and (max-width: 991px) {
    /* When the screen size is this small, simulate container-fluid by removing the margins and padding */
    .container {
        margin: 0;
        padding: 0;
    }

    .spdj-statrow {
        width: 100%;
        height: 1250px;
    }

    .spdj-statrow .statrow-col {
        width: 100%; /* At this screen resolution, the columns should occupy the entire width of the container */
        height: 300px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    /* When the screen size is this small, simulate container-fluid by removing the margins and padding */
    .container {
        margin: 0;
        padding: 0;
    }

    .spdj-statrow {
        width: 100%;
        height: 1280px;
    }

    .spdj-statrow .statrow-col {
        width: 100%; /* At this screen resolution, the columns should occupy the entire width of the container */
        height: 300px;
    }
}

.spdj-statrow .statrow-col-title {
    margin: 5px;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: bold;
    color: #6c7480;
    letter-spacing: 2px;
    text-align: center;
}

.spdj-statrow .statrow-col-jc-container {
    border-bottom: dotted 1px #979797;
    margin: 10px;
    padding: 10px 10px 0px 10px;
}

.spdj-statrow .statrow-col-jc-container:last-child {
    border-bottom: none;
}

.spdj-statrow .statrow-col-jc-title {
    font-family: ProximaNova;
    font-size: 13px;
    line-height: 15.3px;
    letter-spacing: 0.3px;
    color: #868686;
}

.spdj-statrow .statrow-col-jc-detail {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spdj-statrow .statrow-col-jc-content {
    display: inline-block;
    width: 100%;
    margin: 7px 0;
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #000000;
}

.spdj-statrow .statrow-col-jc-icon {
    display: block;
    margin-top: 2px;
    float: left;
    width: 20px;
    color: #EBB30D;
}

.spdj-statrow .statrow-col-jc-text {
    display: block;
    float: left;
    width: 80%;
}

.spdj-statrow .statrow-col-vc-title {
    font-family: ProximaNova;
    font-size: 13px;
    line-height: 15.3px;
    letter-spacing: 0.3px;
    color: #868686;
    margin: 20px;
}

.spdj-statrow .statrow-col-vc-detail {
    margin-top: 5px;
    margin-bottom: 5px;  
}

.spdj-statrow .statrow-col-vc-content {
    display: block;
    float: left;
    width: 80%;
    margin: 15px 20px;
}

.spdj-statrow .statrow-col-vc-text {
    display: block;
    width: 80%;
    float: left;
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #000000;
}

.spdj-statrow .statrow-col-vc-stat {
    display: block;
    float: right;
}

.spdj-statrow .statrow-col-vc-chart {
    display: block;
    width: 100%;
    float: left;
}

.spdj-statrow .statrow-col-op-chart {
    width: 150px;
    height: 150px;
    margin: auto;
}

.spdj-statrow .statrow-col-op-content {
    display: block;
    width: 90%;
    margin: 0 20px 20px 20px;
}

.spdj-statrow .statrow-col-op-text {
    display: inline-block;
    width: 45%;
}

.spdj-statrow .statrow-col-op-stat {
    display: block;
    width: 50%;
    text-align: right;
    float: right;
}

.spdj-statrow .statrow-col-op-icon {
    display: block;
    float: right;
    margin-top: 5px;
    width: 13px;
}

.spdj-statrow .statrow-col-op-select {
    display: block;
    float: right;
}
/* Stats Row CSS Ends */

/* Middle Tabs Row CSS Begins */
.spdj-tabsrow {
    width: 100%;
    float: left;
    margin: auto;
    background-color: #ffffff;
}

.spdj-tabsrow ul {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
}

.spdj-tabsrow ul li {
    display: inline-block;
    width: 170px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.spdj-tabsrow ul li a {
    font-family: ProximaNova;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #027ca3;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-bottom: solid 2px transparent;
}

.spdj-tabsrow ul li a:hover {
    border-bottom: solid 2px #027ca3;
}

.spdj-tabsrow .affix {
    top: 50px;
    left: 0px;
    width: 100%;
}

@media (max-width: 1023px) { /* Do not allow the tabs to be affixed for screens smaller than 1024 width */
    .spdj-tabsrow .affix {
        position: static;
    }
}
/* Middle Tabs Row CSS Ends */

/* Main Cards Rows CSS Begins */
.spdj-main-row {
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
}

/* Side Nav CSS Begins */
.spdj-main-row .spdj-side-nav-container {
    float: left;
    width: 25%;
    height: 500px;
    background-color: #f9f9f9;
}

.spdj-main-row .spdj-side-nav {
    float: left;
    width: 285px;
    min-height: 400px;
    padding-top: 5px;
    background-color: #f9f9f9;
}

.spdj-main-row .spdj-side-nav.affix {
    top: 128px;
}

@media (max-width: 1023px) { /* Do not allow the tabs to be affixed for screens smaller than 1024 width */
    .spdj-main-row .spdj-side-nav.affix {
        position: static;
    }
}

.spdj-main-row .spdj-side-nav-container {
    margin: 0;
    float: left;
}

.spdj-main-row > .spdj-side-nav {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-side-nav-menu {
    display: block;
    width: 100%;
    padding: 10px 30px;
    text-align: left;
    font-family: ProximaNova;
    font-weight: bold;
    font-size: 14px;
}

.spdj-main-row .spdj-side-nav-menu > a {
    color: #343434;
}

.spdj-main-row .spdj-side-nav-title {
    margin-top: 20px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 0.6px;
    color: #000000;
}

.spdj-main-row .spdj-side-nav-title-active {
    background-color: #015870;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.spdj-main-row .spdj-side-nav-menu-selected a {
    color: #015870;
    font-weight: 600;
}
/* Side Nav CSS Begins */

/* Job Requirements Card CSS Begins */
.spdj-main-row .spdj-main-container {
    float: left;
    padding: 5px;
    width: 75%;
    background-color: #f9f9f9;
}

.spdj-main-row .spdj-main-jr-card {
    width: 100%;
    float: left;
    padding: 20px;
    border: solid 1px lightgray;
    box-shadow: 1px 2px 5px #888888;
    background-color: #ffffff;
}

.spdj-main-row .spdj-main-jr-title {
    width: 320px;
    height: 29px;
    margin-bottom: 10px;
    font-family: ProximaNova;
    font-size: 24px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.spdj-main-row .spdj-main-jr-desc {
    width: 625px;
    height: 18px;
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #898989;
}

.spdj-main-row .spdj-main-jr-stats-container {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-main-jr-chart {
    width: 50%;
    min-height: 350px;
    padding: 10px;
    float: left;
    border-right: dotted 1px #979797;
    border-bottom: dotted 1px #979797;
}

.spdj-main-row .spdj-main-jr-bcomp {
    width: 50%;
    min-height: 350px;
    padding: 10px;
    float: left;
    border-bottom: dotted 1px #979797;
}

.spdj-main-row .spdj-main-jr-reqsnap {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-main-reqsnap-title, .spdj-main-jr-chart-title, .spdj-main-jr-bcomp-title {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-family: ProximaNova;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-align: left;
    color: #6b6b6b;
}

.spdj-main-row .spdj-main-bcomp-stat-container {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: solid 1px lightgray;
    border-radius: 200px;
}

.spdj-main-row .spdj-main-bcomp-stat {
    display: block;
    font-family: ProximaNova;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: center;
    color: #d4d4d4;
}

.spdj-main-row .spdj-main-bcomp-title {
    display: block;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #008a95;
}

.spdj-main-row .spdj-main-bcomp-item {
    display: block;
    width: 60%;
    margin: 5px auto;
}

.spdj-main-row .spdjmain-bcomp-icon {
    color: #EBB30D;    
}

.spdj-main-row .spdj-main-reqsnap-det {
    display: block;
    width: 50%;
    float: left;
    padding: 10px;
}
/* Job Requirements Card CSS Ends */

/* Responsibilities Card CSS Begins */
.spdj-main-row .spdj-main-respon-card {
    width: 100%;
    margin-top: 30px;
    float: left;
    padding: 20px;
    border: solid 1px lightgray;
    box-shadow: 1px 2px 5px #888888;
    background-color: #ffffff;
}

.spdj-main-row .spdj-main-respon-title {
    display: block;
    width: 80%;
    float: left;
    font-family: ProximaNova;
    font-size: 24px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.spdj-main-row .spdj-main-respon-help {
    font-size: 15px;
}

.spdj-main-row .spdj-main-respon-title-container {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-main-respon-lvl-title {
    display: block;
    width: 20%;
    float: left;
    margin-top: 8px;
    padding-left: 20px;
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a6a6a6;
}

.spdj-main-row .spdj-main-respon-item-container {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px lightgray;
}

.spdj-main-row .spdj-main-respon-item-text-container {
    width: 80%;
    float: left;
}

.spdj-main-row .spdj-main-respon-item-title {
    display: block;
    margin: 10px 0;
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #027ca3;
}

.spdj-main-row .spdj-main-respon-item-icon {
    color: #EBB30D;   
}

.spdj-main-row .spdj-main-respon-item-detail {
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #898989;
}

.spdj-main-row .spdj-main-respon-item-chart-container {
    width: 20%; 
    float: left;
    position: relative;
}

.spdj-main-row .spdj-main-respon-item-chart {
    width: 110px;
    height: 110px;
}

.spdj-main-row .spdj-main-respon-item-stat {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    color: #027ca3;
}

.spdj-main-row .spdj-main-respon-item-chart .chartwell-pies {
    margin-top: 15px;
    margin-left: -10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spdj-main-row .spdj-main-respon-item-chart .chartwell-pies .cw-value-two {
    color: #008a95;
}

.spdj-main-row .spdj-main-respon-item-chart .chartwell-pies .cw-value-one {
    color: lightgray;
}
/* Responsibilities Card CSS Ends */

/* Behavioral Competencies Card CSS Begins */
.spdj-main-row .spdj-main-bcomp-card {
    width: 100%;
    margin-top: 30px;
    float: left;
    padding: 20px;
    border: solid 1px lightgray;
    box-shadow: 1px 2px 5px #888888;
    background-color: #ffffff;
}

.spdj-main-row .spdj-main-bcomp-title {
    display: block;
    width: 80%;
    float: left;
    font-family: ProximaNova;
    font-size: 24px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.spdj-main-row .spdj-main-bcomp-help {
    font-size: 15px;
}

.spdj-main-row .spdj-main-bcomp-title-container {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-main-bcomp-lvl-title {
    display: block;
    width: 20%;
    float: left;
    margin-top: 8px;
    padding-left: 20px;
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a6a6a6;
}

.spdj-main-row .spdj-main-bcomp-item-container {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px lightgray;
}

.spdj-main-row .spdj-main-bcomp-item-text-container {
    width: 80%;
    float: left;
}

.spdj-main-row .spdj-main-bcomp-item-title {
    display: block;
    margin: 10px 0;
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #027ca3;
}

.spdj-main-row .spdj-main-bcomp-item-icon {
    color: #EBB30D;   
}

.spdj-main-row .spdj-main-bcomp-item-detail {
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #898989;
}

.spdj-main-row .spdj-main-bcomp-item-chart {
    margin-top: 20px;
}

.spdj-main-row .spdj-main-bcomp-item-stat {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: #929292;
}
/* Behavioral Competencies Card CSS Ends */

/* Technical Competencies Card CSS Begins */
.spdj-main-row .spdj-main-tech-card {
    width: 100%;
    margin-top: 30px;
    float: left;
    padding: 20px;
    border: solid 1px lightgray;
    box-shadow: 1px 2px 5px #888888;
    background-color: #ffffff;
}

.spdj-main-row .spdj-main-tech-title {
    display: block;
    width: 80%;
    float: left;
    font-family: ProximaNova;
    font-size: 24px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.spdj-main-row .spdj-main-tech-help {
    font-size: 15px;
}

.spdj-main-row .spdj-main-tech-title-container {
    width: 100%;
    float: left;
}

.spdj-main-row .spdj-main-tech-lvl-title {
    display: block;
    width: 20%;
    float: left;
    margin-top: 8px;
    padding-left: 20px;
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a6a6a6;
}

.spdj-main-row .spdj-main-tech-item-container {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px lightgray;
}

.spdj-main-row .spdj-main-tech-item-text-container {
    width: 80%;
    float: left;
}

.spdj-main-row .spdj-main-tech-item-title {
    display: block;
    margin: 10px 0;
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #027ca3;
}

.spdj-main-row .spdj-main-tech-item-icon {
    color: #EBB30D;   
}

.spdj-main-row .spdj-main-tech-item-detail {
    font-family: ProximaNova;
    font-size: 15px;
    text-align: left;
    color: #898989;
}

.spdj-main-row .spdj-main-tech-item-chart {
    margin-top: 20px;
}

.spdj-main-row .spdj-main-tech-item-stat {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: #929292;
}
/* Technical Competencies Card CSS Ends */

/* Main Cards Rows CSS Ends */

.dummy {
    margin: 100px;
}
